#background-video {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

#welcomeText{
    color: whitesmoke;
}

#sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x:hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidebar a:hover{
    color: #f1f1f1;
}

#sidebar .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#toggleSidebar{
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.navbar-original {
    display: none;
}
#detailsBtn{
    text-align: left;
}

#applyBtn{
    text-align: right;
}
.sidebarLink{
    margin-top: 2vh;
    margin-bottom: 2pvh;
    color: black;
}

.intro-left{
    margin-top: 50px;
    margin-left: 50px;
}

.intro-right{
    margin-right: 0;

}


.slide-in {
    animation: slide 1.5s ease-out forwards;
}

.slide-in:nth-child(2) {
    animation-delay: 0.5s;
}

.slide-in:nth-child(3) {
    animation-delay: 1s;
}

.slide-in:nth-child(4) {
    animation-delay: 1.5s;
}

@keyframes slide {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

